<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
  </head>
  <body>
    <form action = "" method="post">
        <p>Name</p>
        <br>
        <input type = "text" placeholder="Input Name" name ="name_input">
        <br>
        <p>Password</p>
        <br >
        <input type = "text" placeholder="Password" name ="password_input">
        <br>
        <input type="submit" value="Login" id="Login">
        <p>Ticket Granting Ticket:</p>
<!--        {% for message in get_flashed_messages()%}-->
<!--            <p>{{message}}</p>-->
<!--        {% endfor%}-->
        {% for i in range(0,1)%}
            <p>{{get_flashed_messages()[0]}}</p>
        {% endfor%}

    </form>
  </body>
</html>
